## Eng mashhur dasturlash tili
Bu dunyoda hech narsa abadiy qolmaydi, dasturlash tili bu dunyoning ozgina qismidir

####  Kerakli modulni o'rnatish

In [63]:
from IPython.display import HTML, display
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import bar_chart_race as bcr
import plotly.express as px
import pandas as pd 
import numpy as np
import os

for dirname, _, filenames in os.walk('D:\Data/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

ModuleNotFoundError: No module named 'plotly'

In [39]:
df = pd.read_csv("D:\Data/Most Popular Programming Languages from 2004 to 2021 V4.csv")

In [43]:
df.tail()

,Date,Abap,Ada,C/C++,C#,Cobol,Dart,Delphi,Go,Groovy,...,PHP,Python,R,Ruby,Rust,Scala,Swift,TypeScript,VBA,Visual Basic
198,January 2021,0.51,0.63,6.30,6.55,0.35,0.56,0.26,1.33,0.37,...,6.02,30.51,3.85,1.12,1.02,0.71,2.14,1.77,1.19,0.68
199,February 2021,0.50,0.70,6.41,6.66,0.32,0.58,0.25,1.30,0.39,...,6.13,30.24,3.93,1.12,1.10,0.67,1.97,1.75,1.18,0.73
200,March 2021,0.56,0.75,6.63,6.80,0.36,0.56,0.24,1.28,0.40,...,6.12,29.76,3.91,1.16,1.06,0.66,1.77,1.83,1.23,0.67
201,April 2021,0.58,0.77,6.80,6.89,0.36,0.55,0.23,1.36,0.39,...,6.30,29.65,3.99,1.18,1.03,0.67,1.76,1.91,1.25,0.73
202,May 2021,0.61,0.72,6.62,6.90,0.36,0.55,0.24,1.42,0.41,...,6.15,29.90,3.93,1.12,1.13,0.67,1.96,1.89,1.33,0.70

In [10]:
df.columns

Index(['Date', 'Abap', 'Ada', 'C/C++', 'C#', 'Cobol', 'Dart', 'Delphi', 'Go',
       'Groovy', 'Haskell', 'Java', 'JavaScript', 'Julia', 'Kotlin', 'Lua',
       'Matlab', 'Objective-C', 'Perl', 'PHP', 'Python', 'R', 'Ruby', 'Rust',
       'Scala', 'Swift', 'TypeScript', 'VBA', 'Visual Basic'],
      dtype='object')

In [12]:
df = df.set_index('Date')
df.tail()

,Abap,Ada,C/C++,C#,Cobol,Dart,Delphi,Go,Groovy,Haskell,...,PHP,Python,R,Ruby,Rust,Scala,Swift,TypeScript,VBA,Visual Basic
Date,,,,,,,,,,,,,,,,,,,,,
January 2021,0.51,0.63,6.30,6.55,0.35,0.56,0.26,1.33,0.37,0.27,...,6.02,30.51,3.85,1.12,1.02,0.71,2.14,1.77,1.19,0.68
February 2021,0.50,0.70,6.41,6.66,0.32,0.58,0.25,1.30,0.39,0.29,...,6.13,30.24,3.93,1.12,1.10,0.67,1.97,1.75,1.18,0.73
March 2021,0.56,0.75,6.63,6.80,0.36,0.56,0.24,1.28,0.40,0.25,...,6.12,29.76,3.91,1.16,1.06,0.66,1.77,1.83,1.23,0.67
April 2021,0.58,0.77,6.80,6.89,0.36,0.55,0.23,1.36,0.39,0.22,...,6.30,29.65,3.99,1.18,1.03,0.67,1.76,1.91,1.25,0.73
May 2021,0.61,0.72,6.62,6.90,0.36,0.55,0.24,1.42,0.41,0.21,...,6.15,29.90,3.93,1.12,1.13,0.67,1.96,1.89,1.33,0.70

In [13]:
df.tail(1).T.values.flatten()

array([ 0.61,  0.72,  6.62,  6.9 ,  0.36,  0.55,  0.24,  1.42,  0.41,
        0.21, 17.72,  8.31,  0.42,  1.62,  0.49,  1.71,  2.52,  0.4 ,
        6.15, 29.9 ,  3.93,  1.12,  1.13,  0.67,  1.96,  1.89,  1.33,
        0.7 ])

In [ ]:
df_popular = pd.DataFrame({'Tillar':df.tail(1).T.index, 'Mashhurlik':df.tail(1).T.values.flatten()})

In [33]:
df_popular

          Tillar  Mashhurlik
0           Abap        0.61
1            Ada        0.72
2          C/C++        6.62
3             C#        6.90
4          Cobol        0.36
5           Dart        0.55
6         Delphi        0.24
7             Go        1.42
8         Groovy        0.41
9        Haskell        0.21
10          Java       17.72
11    JavaScript        8.31
12         Julia        0.42
13        Kotlin        1.62
14           Lua        0.49
15        Matlab        1.71
16   Objective-C        2.52
17          Perl        0.40
18           PHP        6.15
19        Python       29.90
20             R        3.93
21          Ruby        1.12
22          Rust        1.13
23         Scala        0.67
24         Swift        1.96
25    TypeScript        1.89
26           VBA        1.33
27  Visual Basic        0.70

In [64]:
fig = px.pie(df_popular, values='Mashhurlik', names='Tillar',
             title='Dasturlash tillari reytingi (2021 yil may)')
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

NameError: name 'px' is not defined

In [60]:
df_popular_sorted = df_popular.sort_values(by=['Mashhurlik'])

In [65]:
fig, ax = plt.subplots(figsize=(12,10))
df_popular_sorted.plot(x='Tillar', y='Mashhurlik', 
                kind='barh', ax=ax, color='green')
plt.xlabel('Mashhurlik reytingi')
plt.ylabel('Dasturlash tili')
plt.title('Dasturlash tilining mashhurligi (2021 yil may)')
plt.legend(bbox_to_anchor=(1.05,1))
plt.show()

NameError: name 'plt' is not defined

In [66]:
df

,Date,Abap,Ada,C/C++,C#,Cobol,Dart,Delphi,Go,Groovy,...,PHP,Python,R,Ruby,Rust,Scala,Swift,TypeScript,VBA,Visual Basic
0,July 2004,0.34,0.36,10.08,4.71,0.43,0.00,2.82,0.00,0.03,...,18.75,2.53,0.39,0.33,0.08,0.03,0.00,0.00,1.44,8.56
1,August 2004,0.36,0.36,9.81,4.99,0.46,0.00,2.67,0.00,0.07,...,19.26,2.64,0.41,0.40,0.09,0.03,0.00,0.00,1.46,8.57
2,September 2004,0.41,0.41,9.63,5.06,0.51,0.00,2.65,0.00,0.08,...,19.49,2.72,0.40,0.41,0.10,0.03,0.00,0.00,1.55,8.41
3,October 2004,0.40,0.38,9.50,5.31,0.53,0.00,2.77,0.00,0.09,...,19.34,2.92,0.42,0.46,0.11,0.04,0.00,0.00,1.61,8.49
4,November 2004,0.38,0.38,9.52,5.24,0.55,0.00,2.76,0.00,0.07,...,19.43,2.84,0.41,0.45,0.13,0.04,0.00,0.00,1.50,8.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,January 2021,0.51,0.63,6.30,6.55,0.35,0.56,0.26,1.33,0.37,...,6.02,30.51,3.85,1.12,1.02,0.71,2.14,1.77,1.19,0.68
199,February 2021,0.50,0.70,6.41,6.66,0.32,0.58,0.25,1.30,0.39,...,6.13,30.24,3.93,1.12,1.10,0.67,1.97,1.75,1.18,0.73
200,March 2021,0.56,0.75,6.63,6.80,0.36,0.56,0.24,1.28,0.40,...,6.12,29.76,3.91,1.16,1.06,0.66,1.77,1.83,1.23,0.67
201,April 2021,0.58,0.77,6.80,6.89,0.36,0.55,0.23,1.36,0.39,...,6.30,29.65,3.99,1.18,1.03,0.67,1.76,1.91,1.25,0.73
202,May 2021,0.61,0.72,6.62,6.90,0.36,0.55,0.24,1.42,0.41,...,6.15,29.90,3.93,1.12,1.13,0.67,1.96,1.89,1.33,0.70